<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vivlavoni_customer>
            <customer>
                <is_enabled>0</is_enabled>
                <is_login_enabled>0</is_login_enabled>
                <is_create_enabled>0</is_create_enabled>
            </customer>
        </vivlavoni_customer>
    </default>
</config>
